argparse
black
chart-studio
configparser~=5.0.0
contextvars
dash
dash_daq
dash_ace
Django~=3.1.5
pandas
pdfminer
pip
plotly
PyPDF2
pytest~=8.2.0
python-dateutil~=2.8.1
pytz
requests~=2.25.1
rope
setuptools
urllib3