:root {
    --blue: #337db1;
    --lightBlue: #82c0ec;
    --black: #1a1c24;
    --purple: #612ae3;
    --red: #d9353a;
    --white: #d4edff;
  }
  

body {
    background-color: var(--black);
    font-family: "Proxima Nova";
    box-sizing: border-box;
    outline: none;
}

h1,
h2,
h3,
h4,
.header-card {
    color: var(--blue);
}

h5 {
    font-weight: 800;
    color: var(--lightBlue);
}

h1, a {
    padding: 15px
}

a {
    color: var(--purple);
}

.content-frame {
    margin: 15px;
}

.form-content {
    color: var(--white);
    padding: 45px;
}

.form-content label {
    padding: 15px;
}

.header-card,
.chart-card {
    padding: 15px !important;
    background-color: #20222c;
    border-top: 1px solid #252733;
    border-left: 1px solid #252733;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.chart-card {
    margin-top: 10px;
}

.qpi_logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
}
