:root {
    --blue: #337db1;
    --lightBlue: #82c0ec;
    --black: #1a1c24;
    --green: #0bb787;
    --purple: #612ae3;
    --red: #d9353a;
    --white: #d4edff;
}


body {
    background-color: var(--black);
    font-family: "Proxima Nova";
    box-sizing: border-box;
    outline: none;
}

hr {
    border: 1px solid var(--blue);
    margin-top: 20px;
    margin-bottom: 15px;
}

h1 {
    padding: 20px;
    color: var(--green);
}

h2,
h3,
h4,
.header-card {
    color: var(--blue);
}

h5 {
    font-weight: 800;
    color: var(--lightBlue);
}

a {
    padding-left: 20px;
    color: var(--purple);
}

.content-frame {
    margin: 15px;
}

.form-content {
    color: var(--white);
    width: 80%;
    padding: 45px;
    margin: auto;
}

.form-content label {
    padding: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.header-card,
.chart-card,
.chart-card-flex {
    padding: 15px !important;
    background-color: #20222c;
    border-top: 1px solid #252733;
    border-left: 1px solid #252733;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.chart-card,
.chart-card-flex {
    margin-top: 10px;
}

.chart-card-flex {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

/* TABS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.tab--unselected,
.tab--selected {
    flex-grow: 1;
    /* Allow tabs to grow equally */
    height: 40px;
    padding: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color: #20222c !important;
    border-top: 1px solid #252733 !important;
    border-left: 1px solid #252733 !important;
    border-right: 1px solid var(--black) !important;
    border-bottom: 1px solid var(--black) !important;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.tab--selected {
    background-color: var(--green) !important;
    color: #20222c;
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.qalango-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    max-width: 220px;
}

.header-group {
    flex: 1;
    display: inline-table;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    max-width: 15%;
}

.title-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    padding-left: 20px
}

@media screen and (max-width: 1500px) {
    .logo-container {
        display: flex;
        align-items: center;
        max-width: 20%;
    }
}

@media screen and (max-width: 800px) {
    .logo-container {
        display: flex;
        align-items: center;
        max-width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: block;
        text-align: center;
        flex: 1;
    }
    
    .logo-container,
    .title-container {
        width: 100%;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .qalango-logo {
        width: 200px;
    }
}